@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

.admin-dashboard-container {
  background-image: url("../assets/adminbg.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  font-family: "Poppins", sans-serif;
}

.admin-sidebar {
  width: 250px;
  background-color: transparent;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  justify-content: flex-start;
  height: 100vh; 
  position: fixed; 
  left: 0;
  top: 40px;
} 

.admin-nav-list {
  list-style: none;
  padding: 0;
  margin-top: 40px; 
  width: 100%;
}

.admin-nav-item {
   padding: 12px 15px;
  text-align: left;
  cursor: pointer;
  border-radius: 20px;       
  transition: background-color 0.5s, color 0.5s;
  display: block;  
}

.admin-nav-item:hover {
  background-color: #f7f6f6;
  color: #000;
}

.admin-nav-link {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
}

.admin-nav-icon {
  margin-right: 5px;
  font-size: 22px;
  vertical-align: middle;
}

.admin-border-box {
  position: absolute;
  top: 50%;
  left: 58%;
  transform: translate(-50%, -50%);
  width: 80%;               
  height: 92%;              
  background-color: #f9fafc;  
  border-radius: 10px;      
  box-sizing: border-box;   
  text-align: center;    
  display: flex;
  flex-direction: column;
}

.dashboard-header div:first-child {
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 60px;
  left: 260px;
}


.dashboard-header div:nth-child(2){
  position: absolute;
  top: 110px;
  left: 250px;
  font-size: 30px;
  color: #000000;
}


.admin-welcome-text {
  transform: translate(30px, 8px);
  color: #000;
  font-size: 18px;
  font-weight: 500;
  transition: transform 0.15s ease;
}

.dashboard-title {
  transform: translate(35px, 1px);
  font-size: 30px;
  color: #000;
  letter-spacing: 1px;
  transition: transform 0.15s ease;
}



.admin-total-users {
  position: absolute;
  top: 32%;
  left: 44%;
  transform: translate(-50%, -50%);
  width: 48%;
  height: 22%;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  color: #fff;
  background-color: #24386a; 
  border: 3px solid #24386a;
  border-radius: 15px;
  box-sizing: border-box;
}

.admin-active-users {
  position: absolute;
  top: 32%;
  left: 83%;
  transform: translate(-50%, -50%);
  width: 25%;
  height: 23%;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  color: #fff;
  background-color: #24386a; 
  border: 3px solid #24386a;
  border-radius: 15px;
  box-sizing: border-box;
}
.admin-system-status {
  position: absolute;
  bottom: 20%;
  left: 83%;
  transform: translate(-50%, -50%);
  width: 25%;
  height: 23%;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  color: #fff;
  background-color: #24386a; 
  border: 3px solid #24386a;
  border-radius: 15px;
  box-sizing: border-box;
}
.admin-new-registrations {
  position: absolute;
  bottom: 20%;
  left: 44%;
  transform: translate(-50%, -50%);
  width: 48%;
  height: 22%;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  color: #fff;
  background-color: #24386a; 
  border: 3px solid #24386a;
  border-radius: 15px;
  box-sizing: border-box;
}
